<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>查收简历</title>
    <link rel="stylesheet" href="../css/commons.css"/>
    <link rel="stylesheet" href="../css/tdjl.css"/>
    <link rel="stylesheet" href="../css/nav-tcc.css"/>
    <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>

    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/jquery-weui.min.css" media="all">
    <link rel="stylesheet" href="../css/weui.min.css" media="all">
    <style>
        .body-conter:last-child{
            bottom: 60px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cd-button").click(function () {
                $(".youce-nav").show();
                $(".zzc").show();
            });
            $(".zzc").click(function () {
                $(".youce-nav").hide();
                $(".zzc").hide();
            });
        })

    </script>
</head>
<body style="background-color: #fff;">
<div class="outdiv" id="app">
    <div class="head-top"> <!--表头开始  -->
        <span class="bt">查收简历</span>
        <div class="div-1" onclick="goBack();">
            <img src="../img/fanhui-ioc.png"/>
            <span>返回</span>
        </div>
        <template v-if="enterpriseName==null||enterpriseName==''">
            <span class="dl-button" onclick="jumpLogin();">登入</span>
        </template>
        <template v-else>
            <span class="dl-button" onclick="jumpEnterprise();">{{enterpriseName}}</span>
        </template>
    </div> <!--表头结束  -->
    <div class="body-conter"><!--页面详情开始  -->

        <template v-for="sendResume in jobList">
            <ul  :id="sendResume.userResumeId" :name="sendResume.issueJobId"  onclick="jumpDetail(this)">
                <li>
                    <div class="fgxs"></div>
                </li>
                <li>
                    <div class="zwmc">{{sendResume.name}}</div>
                    <div class="sjtb">
                        <span>{{sendResume.jobName}}</span>
                        <img src="../img/qianjin-ioc.png"/>
                    </div>
                </li>
                <div style="clear: both"></div>
                <li>
                    <span>
                         <template v-if="sendResume.sex==0">
                             男
                        </template>
                         <template v-if="sendResume.sex==1">
                            女
                        </template>
                    </span>
                    <span style="margin-left: 6%;">
                        {{sendResume.age}}
                    </span>

                    <span style="margin-left: 6%;">
                        <template v-if="sendResume.education==0">
                            高中
                        </template>
                        <template v-if="sendResume.education==1">
                            专科
                        </template>
                        <template v-if="sendResume.education==2">
                            本科
                        </template>
                        <template v-if="sendResume.education==3">
                            研究生
                        </template>
                        <template v-if="sendResume.education==4">
                            博士
                        </template>
                    </span>
                    <!--<div class="gsm">{{sendResume.enterpriseName}}</div>-->
                    <!--<img class="scioc" src="../img/gr-ioc/shouc-hs.png"/>-->
                </li>
                <div style="clear: both"></div>
                <li>
                    <div class="dq" style="width: 50%;">
                        {{sendResume.expectMoney}}
                    </div>
                    <div class="xz">
                        <template v-if="sendResume.findJobStatus==0">
                            离职-随时到岗
                        </template>
                        <template v-if="sendResume.findJobStatus==1">
                            在职-月内到岗
                        </template>
                        <template v-if="sendResume.findJobStatus==2">
                            在职-考虑机会
                        </template>
                        <template v-if="sendResume.findJobStatus==3">
                            在职-暂不考虑
                        </template>
                    </div>
                </li>
                <li style="width: 100%;">
                    <div class="fgx"></div>
                </li>
            </ul>
        </template>

    </div> <!--页面详情结束  -->
    <!--底部菜单开始                                                                                                      -->


    <!--底部菜单结束                                                                                                      -->

</div>

</body>
<div id="test1" style="position: fixed;z-index: 111;bottom: 0;left: 15%;"></div>
<script type="text/javascript" src="../js/vue.js"></script>
<script src="/static/layuiadmin/layui/layui.js"></script>

<script>
    var pageFindJob,laypage;
    var app = new Vue({
        el: '#app',
        data: {
            jobList: [],
            jobListCount: 0,
            enterpriseName: '',
            issueJobId: 0,
        },
        created: function () {
            if(JSON.parse((localStorage.getItem("enterprise")))==null){
                window.location.href="login.html";
            }else{
                this.enterpriseName=JSON.parse(localStorage.getItem("enterprise")).name;

            }
            this.findJobList();


            var isAuthentication=false;
            var isRenewMoney=false;
            var errMsg="";
            var authenticationStatus=0;
            var data={};
            data.id=JSON.parse(localStorage.getItem("enterprise")).id;
            $.ajaxSettings.async = false;
            $.post("/api/enterprise/detail",data,function(res){
                console.log(res.data);
                authenticationStatus=res.data.authenticationStatus;
                //第一个认证的
                if(res.data.authenticationStatus==0){
                    errMsg="请认证";
                    isAuthentication=false;
                }else if(res.data.authenticationStatus==1){
                    errMsg="请等待认证";
                    isAuthentication=false;
                }else if(res.data.authenticationStatus==2){
                    Date.prototype.Format = function(fmt)
                    { //author: meizz
                        var o = {
                            "M+" : this.getMonth()+1,                 //月份
                            "d+" : this.getDate(),                    //日
                            "h+" : this.getHours(),                   //小时
                            "m+" : this.getMinutes(),                 //分
                            "s+" : this.getSeconds(),                 //秒
                            "q+" : Math.floor((this.getMonth()+3)/3), //季度
                            "S"  : this.getMilliseconds()             //毫秒
                        };
                        if(/(y+)/.test(fmt))
                            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
                        for(var k in o)
                            if(new RegExp("("+ k +")").test(fmt))
                                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                        return new Date(fmt);
                    }

                    var data=(new Date()).Format("yyyy-MM-dd");
                    if(new Date(res.data.serviceEndTime)<new Date(data)){
                        isRenewMoney=false;
                        isAuthentication=true;
                    }else{
                        isRenewMoney=true;
                        isAuthentication=true;
                    }
                }else if(res.data.authenticationStatus==3){
                    errMsg="认证失败,请 重新认证";
                    isAuthentication=false;
                }
            });
            $.ajaxSettings.async = true;
            if(isAuthentication){
                if(isRenewMoney){
//                    window.location.href="interviewNotify.html";
                }else{
                    alert("跳转充值页面");
                    window.location.href="authentication.html";
                }
            }else{
                alert(errMsg);
                if(authenticationStatus==0||authenticationStatus==3){
                    window.location.href="authentication.html";
                }
            }

        },
        methods: {
            findJobList: function () {
                var data={};
                data.id=JSON.parse(localStorage.getItem("enterprise")).id;
                data.page=1;
                data.limit=10;
                var keywords=$("#txtKeyWord").val();
                data.keywords=keywords;
                var that=this;
                $.post('/api/sendResume/pagingByEnterpriseId',data,function(res){
//                    if(res.code==-1){
//                        alert(res.msg);
//                        if(res.data!=null&&res.data==-1){
//                            window.location.href="login.html";
//                        }
//                    }
                    that.jobListCount=res.count;
                });
            }
        }
    });
    search();
    $("#search").click(function(){
        search();
    })
    function search() {
        app.findJobList();
        setTimeout(function(){
            console.log("search=="+app.jobListCount);
            layui.use('laypage', function () {
                laypage = layui.laypage;
                //执行一个laypage实例
                pageFindJob = laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , limit: 10
                    , groups: 1
                    , count: app.jobListCount
                    , layout: ['prev','page', 'next']
                    , jump: function (obj, first) {
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数

                        //首次不执行
                        if (!first) {
                            //do something
                        }

                        var data = {};
                        data.id=JSON.parse(localStorage.getItem("enterprise")).id;
                        data.page = obj.curr;
                        data.limit = obj.limit;
                        var keywords=$("#txtKeyWord").val();
                        data.keywords=keywords;
                        $.post('/api/sendResume/pagingByEnterpriseId', data, function (res) {
                            obj.count = res.count;
                            app.jobList = res.data;
                            app.issueJobId = res.data[0].issueJobId;
                            console.log(app.jobList);
                        });
                    }
                });
            });
        },300);
    }

    function jumpDetail(data) {
        window.location.href="yulanByEnterprise.html?id="+data.id+"&issueJobId="+app.issueJobId;
    }
    function goBack() {
        window.history.back(-1);
    }


    function jumpEnterprise() {
        window.location.href="enterprise.html"
    }
    function jumpLogin() {
        window.location.href="login.html";
    }
</script>
</html>
