<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="candidates, career, employment, freelance, glassdoor, Human Resource Management, indeed, job board, job listing, job portal, job postings, jobs, listings, recruitment, resume">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Title -->
    <title>找人才 - 华顿教师人才</title>
    <!-- Favicon -->
    <link href="/static/common/image/hdrc.jpg" sizes="128x128" rel="shortcut icon" type="image/x-icon"/>
    <link href="/static/common/image/hdrc.jpg" sizes="128x128" rel="shortcut icon"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <style>
        .mt30 {
            margin-top: 6px;
        }

        .header_user_notif li:first-child span:last-child {
            background-color: transparent;
        }
        .fj_post.style2 a.favorit {
             position: static !important;
             display: inline-block;
             width: 100px;
        }
        /*.fj_post.style2:hover a.favorit{*/
            /*background-color: transparent;*/
        /*}*/
    </style>
</head>
<body>
<!--#include file = "login_head.js"-->
<div class="wrapper" id="app">
    <div class="preloader"></div>

    <!-- Main Header Nav -->
    <script src="login_head.js"></script>

    <!-- Our Candidate List -->
    <section class="our-faq bgc-fa mt50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xl-3 dn-smd">
                    <div class="faq_search_widget mb30">
                        <h4 class="fz20 mb15">搜索关键词</h4>
                        <div class="input-group mb-3">
                            <input type="text" id="txtKeyWord" class="form-control" placeholder="请输入要搜索的关键词"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append" id="search">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span
                                        class="flaticon-search"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="faq_search_widget mb30">
                        <h4 class="fz20 mb15">办公地址</h4>
                        <div class="input-group mb-3">
                            <input id="workPlace" type="text" class="form-control" placeholder="请输入办公地址"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append" onclick="searchResume();">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon3"><span
                                        class="flaticon-search"></span></button>
                            </div>
                        </div>
                    </div>

                    <!--<div class="cl_pricing_slider mb30">-->
                    <!--<h4 class="fz20 mb20">薪资范围</h4>-->
                    <!--<div id="slider-range"></div>-->
                    <!--<p class="text-center">-->
                    <!--<input class="sl_input" type="text" id="amount">-->
                    <!--</p>-->
                    <!--</div>-->

                    <div class="cl_carrer_lever mb30">
                        <div id="accordion4" class="accordion">
                            <div class="link mb10">年龄<i class="fa fa-caret-up"></i></div>
                            <div class="cl_submenu_show">
                                <div class="ui_kit_radiobox">
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_one" value="" name="age" type="radio" checked="">
                                        <label for="radio_age_one"><span class="radio-label"></span>不限</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_tow" value="18-22" name="age" type="radio">
                                        <label for="radio_age_tow"><span class="radio-label"></span>18-22</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_three" value="22-30" name="age" type="radio">
                                        <label for="radio_age_three"><span class="radio-label"></span>22-30</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_four" value="30-40" name="age" type="radio">
                                        <label for="radio_age_four"><span class="radio-label"></span>30-40</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_five" value="40-50" name="age" type="radio">
                                        <label for="radio_age_five"><span class="radio-label"></span>40-50</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_age_sex" value="50-200" name="age" type="radio">
                                        <label for="radio_age_sex"><span class="radio-label"></span>50以上</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cl_carrer_lever mb30">
                        <div id="accordion2" class="accordion">
                            <div class="link mb10">工作经验<i class="fa fa-caret-up"></i></div>
                            <div class="cl_submenu_show">
                                <div class="ui_kit_radiobox">
                                    <div class="radio" style="display: block;">
                                        <input id="radio_workAge_one" value="" name="workAge" type="radio" checked="">
                                        <label for="radio_workAge_one"><span class="radio-label"></span>不限</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_workAge_tow" value="0-1" name="workAge" type="radio">
                                        <label for="radio_workAge_tow"><span class="radio-label"></span>1年以内</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_workAge_three" value="1-3" name="workAge" type="radio">
                                        <label for="radio_workAge_three"><span class="radio-label"></span>1-3年</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_workAge_four" value="3-5" name="workAge" type="radio">
                                        <label for="radio_workAge_four"><span class="radio-label"></span>3-5年</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_workAge_five" value="5-30" name="workAge" type="radio">
                                        <label for="radio_workAge_five"><span class="radio-label"></span>5年以上</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cl_carrer_lever mb30">
                        <div id="accordion3" class="accordion">
                            <div class="link mb10">性别<i class="fa fa-caret-up"></i></div>
                            <div class="cl_submenu_show">
                                <div class="ui_kit_radiobox">
                                    <div class="radio" style="display: block;">
                                        <input id="radio_one1" value="" name="sex" type="radio" checked="">
                                        <label for="radio_one1"><span class="radio-label"></span>不限</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_sex_tow" value="0" name="sex" type="radio">
                                        <label for="radio_sex_tow"><span class="radio-label"></span>男</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_sex_three" value="1" name="sex" type="radio">
                                        <label for="radio_sex_three"><span class="radio-label"></span>女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cl_carrer_lever mb30">
                        <div id="accordion" class="accordion">
                            <div class="link mb10">学历<i class="fa fa-caret-up"></i></div>
                            <div class="cl_submenu_show">
                                <div class="ui_kit_radiobox">
                                    <div class="radio" style="display: block;">
                                        <input id="radio_six" value="" name="edu" type="radio" checked="">
                                        <label for="radio_six"><span class="radio-label"></span>不限</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_seven" value="0" name="edu" type="radio">
                                        <label for="radio_seven"><span class="radio-label"></span> 高中</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_eight" value="1" name="edu" type="radio">
                                        <label for="radio_eight"><span class="radio-label"></span> 大专</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_ten" value="2" name="edu" type="radio">
                                        <label for="radio_ten"><span class="radio-label"></span> 本科</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_one" value="3" name="edu" type="radio">
                                        <label for="radio_one"><span class="radio-label"></span> 研究生</label>
                                    </div>
                                    <div class="radio" style="display: block;">
                                        <input id="radio_two" value="4" name="edu" type="radio">
                                        <label for="radio_two"><span class="radio-label"></span> 博士</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-lg-9 col-xl-9">
                    <div class="row">
                        <template v-for="userResume in jobList">
                            <div class="col-lg-12 mt30">
                                <div class="fj_post style2" style="height:150px;">
                                    <div class="details">
                                       <div style="width: 69%;float:left;">
                                           <div class="thumb fn-smd" style="margin-top: -1.5%;width: 21%;height: 21%;">
                                               <template v-if="userResume.headImg==null">
                                                   <img class="img-fluid" src="../images/partners/1.jpg" alt="1.jpg">
                                               </template>
                                               <template v-else>
                                                   <img class="img-fluid" :src="'/'+userResume.headImg" alt="1.jpg">
                                               </template>
                                           </div>
                                           <h4>{{userResume.name}}</h4>
                                           <span class="job_chedule text-thm">{{userResume.jobType}}</span><a
                                               style="margin-left: 3%;" class="text-thm" href="#">
                                           <template v-if="userResume.findJobStatus==0">
                                               离职-随时到岗
                                           </template>
                                           <template v-if="userResume.findJobStatus==1">
                                               在职-月内到岗
                                           </template>
                                           <template v-if="userResume.findJobStatus==2">
                                               在职-考虑机会
                                           </template>
                                           <template v-if="userResume.findJobStatus==3">
                                               在职-暂不考虑
                                           </template>
                                       </a>
                                           <p><span>性别：
                                        <template v-if="userResume.sex==0">
                                            男
                                        </template>
                                        <template v-if="userResume.sex==1">
                                            女
                                        </template>
                                        </span><span style="margin-left: 3%;">年龄：{{userResume.age}}</span><span
                                                   style="margin-left: 3%;">工龄：{{userResume.workAge}}</span>
                                               <span style="margin-left: 3%;">学历：
												<template v-if="userResume.education==0">
													高中
												</template>
												<template v-else-if="userResume.education==1">
													大专
												</template>
												<template v-else-if="userResume.education==2">
													本科
												</template>
												<template v-else-if="userResume.education==3">
													研究生
												</template>
												<template v-else-if="userResume.education==4">
													博士
												</template>
											</span>
                                               <span></span></p>
                                           <ul class="featurej_post">
                                               <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a
                                                       href="#">{{userResume.province}} {{userResume.city}} {{userResume.area}}  {{userResume.detailPlace}}</a>
                                               </li>
                                               <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a
                                                       href="#">
                                                   {{userResume.expectMoney}}
                                               </a></li>
                                           </ul>
                                       </div>
                                        <div style="float:right;width: 29%;margin-top:2.5%;text-align: right;">
                                            <a class="favorit" :id="userResume.id" onclick="jumpDetail(this);"  href="javascript:;"><span class="flaticon-favorites">查看</span></a>
                                            <a class="favorit" :id="userResume.id" :name="userResume.userId" onclick="jumpInterview(this);" href="javascript:;"><span class="flaticon-favorites">邀请</span></a>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!--<div class="col-lg-12">-->
                        <!--<div class="mbp_pagination">-->
                        <!--<ul class="page_navigation">-->
                        <!--&lt;!&ndash;<li class="page-item disabled">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="flaticon-left-arrow"></span> Previous</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">1</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item active" aria-current="page">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">4</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">5</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">...</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">45</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="page-item">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a class="page-link" href="#">Next <span class="flaticon-right-arrow"></span></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div id="test1" style="bottom: 0px;text-align: center;"></div>
        </div>
    </section>
    <script src="footer.js"></script>


    <a class="scrollToHome text-thm" href="#"><i class="flaticon-rocket-launch"></i></a>
</div>
<!-- Wrapper End -->
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="../js/popper.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.mmenu.all.js"></script>
<script type="text/javascript" src="../js/ace-responsive-menu.js"></script>
<script type="text/javascript" src="../js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="../js/snackbar.min.js"></script>
<script type="text/javascript" src="../js/simplebar.js"></script>
<script type="text/javascript" src="../js/tagsinput.js"></script>
<script type="text/javascript" src="../js/parallax.js"></script>
<script type="text/javascript" src="../js/scrollto.js"></script>
<script type="text/javascript" src="../js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="../js/jquery.counterup.js"></script>
<script type="text/javascript" src="../js/wow.min.js"></script>
<script type="text/javascript" src="../js/progressbar.js"></script>
<script type="text/javascript" src="../js/slider.js"></script>
<script type="text/javascript" src="../js/timepicker.js"></script>
<script type="text/javascript" src="../js/wow.min.js"></script>
<!-- Custom script for all pages -->
<script type="text/javascript" src="../js/script.js"></script>

<script type="text/javascript" src="/static/common/js/vue.js"></script>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="jumpPage.js"></script>

</body>
<script>
    var pageFindJob,popBox,laypage,form,layer,upload,laydate;
    layui.use(['form','layer','upload','laydate'], function(){
       form = layui.form;
       layer =layui.layer;
        upload =layui.upload;
        laydate =layui.laydate;
        //日期时间选择器
        laydate.render({
            elem: '#interviewTime'
            ,type: 'datetime'
        });

    });
    var app = new Vue({
        el: '#app',
        data: {
            jobList: [],
            jobListCount: 0,
            enterpriseName: '',
            issueJobId: 0,
            enterpriseLogo: '',
        },
        created: function () {
            if (JSON.parse((localStorage.getItem("enterprise"))) == null) {
                alert("请登入");
                window.location.href = "login.html";
            }
            var enterprise;
            var data={};
            data.id=JSON.parse((localStorage.getItem("enterprise"))).id;
            $.ajaxSettings.async=false;
            $.post("/api/enterprise/detail",data,function(res){
                enterprise=res.data;
            });
            $.ajaxSettings.async=true;

            if (enterprise.authenticationStatus==0){
                alert("请认证");
                window.location.href = "enterprise.html";
            }else if (enterprise.authenticationStatus==1){
                alert("等待认证");
                window.location.href = "enterprise.html";
            }else if (enterprise.authenticationStatus==3){
                alert("认证不成功,请重新认证");
                window.location.href = "enterprise.html";
            }
            this.enterpriseName = JSON.parse(localStorage.getItem("enterprise")).name;
            this.enterpriseLogo=JSON.parse(localStorage.getItem("enterprise")).logo;
            this.findJobList();
        },
        methods: {
            findJobList: function () {
                var data = {};
                data.enterpriseId = JSON.parse(localStorage.getItem("enterprise")).id;
                data.page = 1;
                data.limit = 10;
                var keywords = $("#txtKeyWord").val();
                data.keywords = keywords;
                var that = this;
                $.post('/api/userResume/paging', data, function (res) {
                    if (res.code == -1) {
                        alert(res.msg);
                        if (res.data != null && res.data == -1) {
                            window.location.href = "login.html";
                        }
                    }
                    that.jobListCount = res.count;
                });
            }
        }
    });
    searchResume();
    $("#search").click(function () {
        searchResume();
    })

    function searchResume() {
        app.findJobList();
        setTimeout(function () {
            console.log("search==" + app.jobListCount);
            layui.use('laypage', function () {
                laypage = layui.laypage;
                //执行一个laypage实例
                pageFindJob = laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , limit: 10
                    , groups: 1
                    , count: app.jobListCount
                    , layout: ['prev', 'page', 'next']
                    , jump: function (obj, first) {
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数

                        //首次不执行
                        if (!first) {
                            //do something
                        }

                        var data = {};
                        data.id = JSON.parse(localStorage.getItem("enterprise")).id;
                        data.page = obj.curr;
                        data.limit = obj.limit;
                        data.keywords = $("#txtKeyWord").val();
                        data.workPlace = $("#workPlace").val();
                        data.age = $('input[name="age"]:checked').val();
                        data.sex = $('input[name="sex"]:checked').val();
                        data.workAge = $('input[name="workAge"]:checked').val();
                        data.education = $('input[name="edu"]:checked').val();
                        $.post('/api/userResume/paging', data, function (res) {
                            obj.count = res.count;
                            app.jobList = res.data;
                        });
                    }
                });
            });
        }, 300);
    }
    function jumpInterview(paramData) {
        var isAuthentication=false;
        var isRenewMoney=false;
        var errMsg="";
        var authenticationStatus=0;
        var data={};
        data.id=JSON.parse(localStorage.getItem("enterprise")).id;
        $.ajaxSettings.async = false;
        $.post("/api/enterprise/detail",data,function(res){
            console.log(res.data);
            authenticationStatus=res.data.authenticationStatus;
            //第一个认证的
            if(res.data.authenticationStatus==0){
                errMsg="请认证";
                isAuthentication=false;
            }else if(res.data.authenticationStatus==1){
                errMsg="请等待认证";
                isAuthentication=false;
            }else if(res.data.authenticationStatus==2){
                Date.prototype.Format = function(fmt)
                { //author: meizz
                    var o = {
                        "M+" : this.getMonth()+1,                 //月份
                        "d+" : this.getDate(),                    //日
                        "h+" : this.getHours(),                   //小时
                        "m+" : this.getMinutes(),                 //分
                        "s+" : this.getSeconds(),                 //秒
                        "q+" : Math.floor((this.getMonth()+3)/3), //季度
                        "S"  : this.getMilliseconds()             //毫秒
                    };
                    if(/(y+)/.test(fmt))
                        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
                    for(var k in o)
                        if(new RegExp("("+ k +")").test(fmt))
                            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                    return new Date(fmt);
                }

                var date=(new Date()).Format("yyyy-MM-dd");
                if(new Date(res.data.serviceEndTime)<new Date(date)){
                    isRenewMoney=false;
                    isAuthentication=true;
                }else{
                    isRenewMoney=true;
                    isAuthentication=true;
                }
            }else if(res.data.authenticationStatus==3){
                errMsg="认证失败,请重新认证";
                isAuthentication=false;
            }
        });
        $.ajaxSettings.async = true;
        if(isAuthentication){
            if(isRenewMoney){
                var issuejobList=acquireIssueByEnterpriseId();
                var htm='';
                htm+='<div class="candidate_contact_form bgc-fa">';
                htm+='<form>';
                htm+='<input type="hidden" id="userId" value="'+paramData.name+'">';
                htm+='<div class="form-group">';
                htm+='<select id="issueJobId" class="form-control">';
                for(var i=0,count=issuejobList.length;i<count;i++){
                    htm+='<option value="'+issuejobList[i].id+'">'+issuejobList[i].jobName+'</option>';
                }
                htm+='</select>';
                htm+='</div>';
                htm+='<div class="form-group">';
                htm+='<input type="text" id="contactPhone" class="form-control" placeholder="联系方式">';
                htm+='</div>';
                htm+='<div class="form-group">';
                htm+='<input type="text" id="interviewTime" class="layui-input" placeholder="面试时间">';
                htm+='</div>';
                htm+='<div class="form-group">';
                htm+='<textarea class="form-control" id="content" rows="5" placeholder="邀请内容"></textarea>';
                htm+='</div>';
                htm+='<button type="button" onclick="interview();" class="btn btn-block btn-thm">邀请 <span class="flaticon-right-arrow"></span></button>';
                htm+='</form>';
                htm+='</div>';
                popBox=layer.open({
                    type:1,
                    title:"发送邀请",
                    area:["30%","55%"],
                    content:htm
                });
                layui.use(['laydate'], function(){
                    laydate =layui.laydate;
                    //日期时间选择器
                    laydate.render({
                        elem: '#interviewTime'
                        ,type: 'datetime'
                    });

                });
            }else{
                alert("请续费后操作");
                window.location.href="dashboard.html";
            }
        }else{
            alert(errMsg);
            if(authenticationStatus==0||authenticationStatus==3){
                window.location.href="authentication.html";
            }
        }

    }
    function acquireIssueByEnterpriseId() {
        var returnData=[];
        var data={};
        data.id=JSON.parse(localStorage.getItem("enterprise")).id;;
        $.ajaxSettings.async = false;
        $.post("/api/issueJob/allByEnterpriseId",data,function (res) {
            returnData=res.data;
        });
        $.ajaxSettings.async = true;
        return returnData;
    }
    function interview() {
        var data={};
        data.userId=$("#userId").val();
        data.issueJobId=$("#issueJobId").val();
        data.jobName=$("#issueJobId").find("option:selected").text();
        data.enterpriseName=JSON.parse(localStorage.getItem("enterprise")).name;
        data.interviewTime=$("#interviewTime").val();
        data.concatPhone=$("#contactPhone").val();
        data.content=$("#content").val();
        if(data.jobName==undefined||data.jobName==null||data.jobName==""){
            alert("职位名称不能为空");
            return false;
        }
        if(data.interviewTime==undefined||data.interviewTime==null||undefined==""){
            alert("面试时间不能为空");
            return false;
        }
        if(data.concatPhone==undefined||data.concatPhone==null||data.concatPhone==""){
            alert("联系电话不能为空");
            return false;
        }
        console.log(data);
        $.post("/api/interviewNotify/add",data,function (res) {
            if(res.code==0){
                alert(res.msg);
                layer.close(popBox);
            }else{
                alert(res.msg);
            }
        });
    }
    function jumpDetail(data) {
        window.open("previewResume.html?id=" + data.id);
    }
</script>
</html>