<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="defaultWebSessionManager"
          class="com.wzj.web.shiro.MyWebSessionManager">
        <!-- session的失效时长，单位毫秒 -->
        <property name="globalSessionTimeout" value="3600000" />
        <!--Shiro去掉URL中的JSESSIONID的解决方案-->
        <property name="sessionIdUrlRewritingEnabled" value="false" />
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否定期检查Session的有效性 -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!-- 会话Cookie模板 -->
        <property name="sessionIdCookie" ref="sessionIdCookie" />
    </bean>
    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--如果设置为true，则客户端不会暴露给客户端脚本代码，使用HttpOnly
         cookie有助于减少某些类型的跨站点脚本攻击；此特性需要实现了Servlet 2.5 MR6
         及以上版本的规范的Servlet容器支持；-->
        <property name="httpOnly" value="true"/>
        <!-- 设置Cookie名字，默认为JSESSIONID； -->
        <property name="name" value="JSESSIONID"/>
        <!--设置Cookie的域名，默认空，即当前访问的域名；-->
        <property name="domain" value=""/>
        <!--设置Cookie的路径，默认空，即存储在域名根下；-->
        <property name="path" value=""/>
        <!--设置Cookie的过期时间，秒为单位，默认-1表示关闭浏览器时过期Cookie；-->
        <property name="maxAge" value="3600"/>
    </bean>

    <!-- 缓存器，用于缓存shiro相关的数据 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

    <bean id="shiroRealm" class="com.wzj.web.shiro.ShiroRealm"></bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 我们自定义的realm -->
        <property name="realm" ref="shiroRealm"/>
        <!-- 缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 权限管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 登录地址 -->
        <property name="loginUrl" value="/admin/jumpLogin"/>
        <!-- 错误页面 -->
        <property name="unauthorizedUrl" value="/admin/jumpLogin"/>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
            <value>
                /admin/jumpIndex = authc
                /admin/jumpInfo = authc
                /admin/logout = authc
                /authentication/user/jumpPaging = authc
                /authentication/enterprise/jumpPaging = authc
                /authentication/remit/jumpPaging = authc
                /user/jumpPaging = authc
                /user/jumpUnPassPaging = authc
                /user/jumpFrostPaging = authc
                /enterprise/jumpPaging = authc
                /enterprise/jumpUnPassPaging = authc
                /enterprise/jumpFrostPaging = authc
                /resume/userResume/jumpPaging = authc
                /resume/sendResume/jumpPaging = authc
                /invite/issueJob/jumpPaging = authc
                /invite/interviewNotify/jumpPaging = authc
                /remitRecord/jumpRecordPaging = authc
                /remitRecord/jumpUnPassPaging = authc
                /enterSet/jumpEnterSet = authc
                /enterSet/jumpGatheringCodeUpdate = authc
            </value>
        </property>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>