<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.mapper.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.wzj.model.Enterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="teacher_aptitude" jdbcType="VARCHAR" property="teacherAptitude" />
    <result column="legal_id_card" jdbcType="VARCHAR" property="legalIdCard" />
    <result column="legal_id_card_reverse" jdbcType="VARCHAR" property="legalIdCardReverse" />
    <result column="remit_authentication" jdbcType="VARCHAR" property="remitAuthentication" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="single_double_cease" jdbcType="INTEGER" property="singleDoubleCease" />
    <result column="enterprise_type" jdbcType="VARCHAR" property="enterpriseType" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="detail_place" jdbcType="VARCHAR" property="detailPlace" />
    <result column="employee_number" jdbcType="INTEGER" property="employeeNumber" />
    <result column="register_money" jdbcType="INTEGER" property="registerMoney" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="service_end_time" jdbcType="VARCHAR" property="serviceEndTime" />
    <result column="authentication_status" jdbcType="INTEGER" property="authenticationStatus" />
    <result column="authentication_time" jdbcType="VARCHAR" property="authenticationTime" />
    <result column="setup_time" jdbcType="VARCHAR" property="setupTime" />
    <result column="register_time" jdbcType="VARCHAR" property="registerTime" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
  </resultMap>
  <select id="login" resultType="java.util.HashMap">
    select * from enterprise where phone=#{phone} and pwd=#{pwd}
  </select>
</mapper>