<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.mapper.UserResumeMapper">
  <resultMap id="BaseResultMap" type="com.wzj.model.UserResume">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="work_age" jdbcType="VARCHAR" property="workAge" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="expect_money" jdbcType="VARCHAR" property="expectMoney" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="find_job_status" jdbcType="INTEGER" property="findJobStatus" />
    <result column="marriage_status" jdbcType="INTEGER" property="marriageStatus" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="job_type" jdbcType="VARCHAR" property="jobType" />
    <result column="work_type" jdbcType="INTEGER" property="workType" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="detail_place" jdbcType="VARCHAR" property="detailPlace" />
    <result column="now_province" jdbcType="VARCHAR" property="nowProvince" />
    <result column="now_city" jdbcType="VARCHAR" property="nowCity" />
    <result column="now_area" jdbcType="VARCHAR" property="nowArea" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="job_skill" jdbcType="VARCHAR" property="jobSkill" />
    <result column="self_appraise" jdbcType="VARCHAR" property="selfAppraise" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
  </resultMap>
</mapper>